extends ../layout

block content
  .container
    h1.page-header 회원 목록
    
    table.table.table-striped.table-bordered
      thead
        tr
          th 이름
          th 이메일
          th 가입일시
          if (currentUser.type === "admin")
            th
      tbody
        each user in users
          tr
            if (currentUser.type === "admin")
                td
                  a(href='/users/#{user._id}')= user.name
            else
                td= user.name
            td= user.email
            td= moment(user.createdAt).format('YYYY-MM-DD HH:mm:ss')
            if (currentUser.type === "admin")
                td
                  a.btn.btn-xs.btn-warning(href='/users/#{user._id}/edit') 회원정보 수정
                  | 
                  a.btn.btn-xs.btn-danger(href='/users/#{user._id}?_method=DELETE') 회원삭제
    if (currentUser.type === "admin")
        a.btn.btn-primary(href='/users/new') 사용자추가
